*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    color:#a8a7a7;
}
body{
    background:#F0F0F0;
}
.nav-bg{
    height:160px;
    width:100%;
    background:url('../img/top-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.header-container{
    max-width:1020px;
    min-width: 600px;   
    background-color: #fff;
    margin:-7rem auto 0 auto;
    z-index: 99;
    padding: 0;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:120px;
    width:100%;
}
.main-nav .logo{
    width:300px;
    min-height:75px;
    margin-top:20px;
    background:#3a4a54 url('../img/logo-bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}
.logo h1{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 72px;
    padding-left: 20px;
    color:#fff;
    margin:0 auto;
    letter-spacing: -1px;
}
.logo h1 span{
    color:#47c3c7;
}
/*navbar*/
.menu{
    min-height: 80px;
}
.menu ul{
    list-style: none;
    line-height: 80px;
    float: right;
}
.menu li{
    margin-top: 2rem;
    padding-right:35px;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color:#797979;
    font-size: 1.1rem;
    display: inline-block;
    font-weight: normal;
}
.menu li a.active, .menu li a:hover{
    color:#47c3c7;
    background: url('../img/menu-arrow.gif');
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 8px;
}
/*banner*/
.banner{
    width: 72vw;
    margin:0 auto;
    
}
.banner .banner-bg{
    width: 100%;

}
.banner .banner-bg img{
    width:100%;
}
/*column*/
.column-section{
    width:100%;
    display: flex;
}
.left-column{
    width:250px;
}
.left-column .submenu h1{ 
   font-size: 1.2rem;
   margin:1rem 0;
   color:#47c3c7;
   font-weight: 700;
}
.submenu ul{
    list-style: none;
}
.submenu li{
    background: url('../img/submenu-arrow.gif');
    background-repeat: no-repeat;
    background-position:left center;
    background-size: 9px;
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #d4d6d8;
}
.submenu .no-border{
    border-bottom: none;
}
.submenu li a{
    color:#a8a7a7;
    font-size:14px;
    text-decoration: none;
}
.submenu li a:hover{
    color:#eb5e42;
}
/*responsive navbar*/
#show{
    height:50px;
    width: 50px;
    border:none;
    background:transparent;
    color:#d4d6d8;
    margin-top: 0.5rem;
    margin-right: 2rem;
    text-align:center;
    display: none;
    font-size: 2rem;
    outline: none;
}
#close{
    /* float: right; */
    position: absolute;
    margin:2rem 1rem 0 12rem;
    width:30px;
    height: 30px;
    outline:none;
    background: transparent;
    border: none;
    font-size: 2rem;
    display: none;
}
#close:hover i,#show:hover i{
    color:#47c3c7;
}
/*search box*/
.search-box{
    min-width:240px;
    height: 100px;
    background: #3a4a54;
}
.search-box h1{
    font-size: 1.2rem;
    font-weight: 700;
    color:#fff;
    padding:10px 0 0 20px;
}
.search-box ul{
    list-style: none;
}
.search-box li{
    display: inline-block;
}
.search-box li:first-child{
    padding-left: 20px;
}
.search-box #search{
    width:150px;
    caret-color:#fff;
    border:none;
    height: 32px;
}
.search-box #search-icon{
    margin-left: -5px;
    margin-top: -5px;
}
.news{
    margin-top: 1.5rem;
}
.news h1{
    color:#47c3c7;
    font-size: 1.1rem;
    font-weight: 700;
    margin:0;
}
.news h2{
    font-size: 0.7rem;
    margin-top: 0;
}
.news p{
    font-size: 0.9rem;
}
.news a{
    color:#eb5e42;
    font-size: 0.8rem;
    text-decoration: none;
}
.news a:hover{
    color:#47c3c7;
}
/*right content*/
.block-content{
    display: flex;
    background: #47c3c7;
    max-width:725px;
    min-width: 400px;
    margin-left: 1rem;
}
.main-content{
    padding: 2rem 0.5rem  1.5rem 2rem;
}
.main-content h1{
    font-size: 1.5rem;
    font-weight: 700;
    color:#3a4a54;
}
.main-content h2{
    color:#3a4a54;
    font-size: 1.1rem;
    font-weight: 700;
}
.main-content p{
    color:#fff;
    font-size: 0.8rem;
}
.main-content a{
    background: url('../img/read-more-bg-1.gif');
    background-repeat: no-repeat;
    display: block;
    width:85px;
    text-decoration: none;
    font-size: 0.8rem;
    height:25px;
    line-height: 23px;
    text-align: center;
    color:#47c3c7;
}
.main-content a:hover{
    color:#fff;
}
/*card section*/
.main-card{
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 1px solid #a8a7a7;
}
.card-description{
    max-width: 230px;
    min-width:180px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.card-description img{
    width: 100%;
}
.card-description h1{
    font-size: 1.1rem;
    color: #000;
    font-weight: 700;
    margin-top: 0.9rem;
    margin-bottom: 0;
}
.card-description h3{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color:#a8a7a7;
}
.card-description p{
    font-size: 0.8rem;
}
.card-description a,.footer-description a{
    font-size: 0.9rem;
    background: url('../img/read-more-bg-2.gif');
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 23px;
    color:#fff;
    font-weight: 400;
    line-height: 23px;
    padding:0 0.2rem;
    text-decoration: none;
    margin-top: 1rem;
}
.card-description a:hover,.footer-description a:hover{
    color:#3a4a54;
}
.footer-description{
    padding:2.5rem 0;
}
.footer-description h1{
    color:#3a4a54;
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-description h3{
    color:#47c3c7;
    font-size: 1.1rem;
    font-weight: 600;
}
.footer-description p{
    font-size: 0.8rem;
    margin-top: 1rem;
}
/*footer*/
.footer-clear{
    background-color:#fff ;
    height: 30px;
    max-width:1020px;
    min-width: 300px;
    margin:0 auto;
}
footer{
    width: 100%;
    height: 130px;
    background: #3a4a54;
    text-align: center;
    margin:0;
    line-height: 100px;
}
footer p{
    color:#fff;
    font-size: 0.9rem;
    margin:0;
}
footer a{
    color:#47c3c7;
    text-decoration: none!important;

}
footer a:hover{
    color:#fff;
}
/*services*/
.nav-bg2{
 width: 100%;
 height: 80px;
 background: #44A3A8;
 position: absolute;
 /* top:25.5%; */
 z-index: 999;
}
.nav-bg2 h2{
    font-size: 1.3rem;
    color:#3a4a54;
    font-weight: 500;
    line-height: 80px;
    width:75%;
    margin:0 auto;
}
.Services-banner{
    margin-top: 6rem;
}
.right-services{
    margin-left: 1.5rem;
}
.right-services h1{
    font-size: 1.2rem;
    color:#3a4a54;
    font-weight: 800;
}
.right-services h2{
    font-size: 1.1rem;
    color:#47c3c7;
    font-weight: 500;
    margin:0.9rem 0;
}
.right-services p{
    font-size: 0.8rem;
}
/*blog*/
.blog1{
    width:100%;
    background:#eb5e42;
    padding: 1.2rem 0;
    text-align: center;
    margin:0!important;
    color:#fff!important;
    font-weight: 700;
    font-size: 1.3rem!important;

}
.blog2{
    width:100%;
    text-align: center;
    padding: 1.2rem 0;
    background: #3a4a54;
    margin:0!important;
    color:#fff!important;
    font-size: 1.2rem!important;
}
/*contact form*/
.main-form{
    background:#F0F0F0 ;
    padding:1.5rem 0;
}
.main-form div{
    padding: 1rem 2.5rem;
}
.main-form label{
    margin-right: 2rem;
    min-width: 200px;
    font-size: 0.8rem;
    font-weight: 500;
}
.main-form input:not(#submit-btn){
    /* min-width: 100px; */
    width: 400px;
    border:1px solid #dfd9d9;
    padding:0.5rem 0;
}
.textarea label{
    font-size: 0.8rem;
    font-weight: 500;
    float: left;
}
.textarea textarea{
    width: 400px;
    height: 130px;
    line-height: 40px;
    resize: both;
    border:1px solid #dfd9d9;
}
.main-form #submit-btn{
    background:url('../img/read-more-bg-2.gif');
    background-repeat: no-repeat;
    width:120px;
    background-size:cover;
    background-position: 100% 100%;
    color:#fff;
    border:none;
    font-size: 1.2rem;
    text-align: center;
    height: 40px;   
    padding: 0;
    display: block;
    margin-left:17rem;
   
}
/*media query section for 968px */
@media(max-width:968px){
    .menu{
        width:0;
        height: 100vh;
        background: #fff;
        position: fixed;
        right: 0;
        top:50px;
        z-index: 999;
        /* margin-top:-20px; */
       transition: all 0.5s linear;
    }
    .menu ul{
        margin: 6rem auto 0 auto;
        text-align: center;
        line-height:60px;
        float: none;
    }
    .menu li{
        display: block;
        margin:0;
        padding:0;
    }
    .menu li a.active, .menu li a:hover{
        background-position: center 10px;
        background-size: 10px;
    }
    #show{
        display: block;
    }
    #close{
        display: block;
    }
    .banner{
        width:90%;
        margin:0 auto;
    }
    .column-section{
        flex-direction: column;
    }
    .left-column{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .right-services h1{
        margin-top: 1.5rem;
    }
    .nav-bg2 h2{
        margin-left:2rem;
    }
}
/*media query for 768px*/
@media(max-width:768px){
    .left-column{
        flex-direction: column;
    }
    .left-column #left-first{
        display: flex;
        width:100%;
        justify-content: space-between;
    }
    .search-box{
        margin-top: 1rem;
        min-width: 260px;
    }
    .search-box h1{
        font-size: 1.3rem;
    }
    .search-box #search{
        width:170px;
    }
    .search-box #search-icon{
        margin-left: -5px;
    }
    /*right column*/
    .block-content{
        flex-direction: column;
        width:auto;
        margin:0;
        padding: 0;
    }
    .main-card{
        flex-direction: column;
        
    }
    .card-description{
        margin:1rem auto;
        max-width: 280px;
    }
    .footer-description{
        width:auto;
    }
}
@media(max-width:620px){
    .block-content{
        max-width:500px;
    }
    .header-container{
        min-width:200px;
        /* margin:0 5px; */
    }
    .search-box{
        min-width: 240px;
        margin-left: 0.4rem;
    }
    
}
@media(max-width:530px){
    .main-form input:not(#submit-btn), .textarea textarea{
        width:300px;
    }
}
@media(max-width:835px){
    .main-form #submit-btn{
        margin-left:2rem;
    }
})
  